<div class=" block lg:flex h-auto">
  <div class="w-full lg:w-1/2">
    <img [src]="imgSrc" class="object-contain">
  </div>
  <div class="w-full lg:w-1/2">
    <div class="p-5">
      <div>
        <p class="font-bold text-2xl text-[#7BC2F5]">OCBC Cycle 2017</p>
      </div>
      <div class="w-full flex">
        <div class="w-1/6 lg:w-1/12">
          <p class="font-semibold text-lg text-black">Venue</p>
        </div>
        <div class="w-4/6 lg:w-10/12">
          <p class="font-regular text-lg text-black">Nulliam in dolor in libero ullamcorper</p>
          <p class="font-regular text-lg text-black">auctor vitae ut risus</p>
        </div>
        <div class="w-1/6 lg:w-1/12">
          <mat-icon color="primary" mat-mini-fab>location_on</mat-icon>
        </div>
      </div>
      <div class="w-full flex">
        <div class="w-1/6 lg:w-1/12">
          <p class="font-semibold text-lg text-black">Date</p>
        </div>
        <div class="w-4/6 lg:w-10/12">
          <p class="font-regular text-lg text-black">15 Jun 2015</p>
          <p class="font-regular text-lg text-black">08:00 AM</p>
        </div>
      </div>
      <div>
        <button (click)="findTitle($event)" class="font-bold text-2xl text-[#7BC2F5]">Website</button>
        <p class="font-regular text-lg text-black text-justify">Let's hit the road again as OCBC Cycle Singapore 2011 rides into town! 
          Join us for the cycling event of the year as the fun goes on for three days in a row, starting from 4 Match! Adding tot he thrill, 
        is the Professional Criterium.</p>
      </div>
      <div class="mt-auto flex justify-end items-center">
          See similar events 
        <div class="">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>